{% extends "layout.html" %}

{% block title %}GPA Scale{% endblock %}

{% block main %}
<h3>GPA Scale</h3>
<table class="table table-striped table-sm">
    <thead>
        <th scope="col">Letter</th>
        <th scope="col">4.0 Scale</th>
        <th scope="col">4.5 Scale</th>
        <th scope="col">5.0 Scale</th>
    </thead>
    <tr scope="row">
        <td>A+</td>
        <td>4.00</td>
        <td>4.50</td>
        <td>5.00</td>
    </tr>
    <tr scope="row">
        <td>A</td>
        <td>4.00</td>
        <td>4.50</td>
        <td>5.00</td>
    </tr>
    <tr scope="row">
        <td>A-</td>
        <td>3.67</td>
        <td>4.17</td>
        <td>4.67</td>
    </tr>
    <tr scope="row">
        <td>B+</td>
        <td>3.33</td>
        <td>3.83</td>
        <td>4.33</td>
    </tr>
    <tr scope="row">
        <td>B</td>
        <td>3.00</td>
        <td>3.50</td>
        <td>4.00</td>
    </tr>
    <tr scope="row">
        <td>B-</td>
        <td>2.67</td>
        <td>3.16</td>
        <td>3.67</td>
    </tr>
    <tr scope="row">
        <td>C+</td>
        <td>2.33</td>
        <td>2.87</td>
        <td>3.33</td>
    </tr>
    <tr scope="row">
        <td>C</td>
        <td>2.00</td>
        <td>2.50</td>
        <td>3.00</td>
    </tr>
    <tr scope="row">
        <td>C-</td>
        <td>1.67</td>
        <td>2.17</td>
        <td>2.67</td>
    </tr>
    <tr scope="row">
        <td>D+</td>
        <td>1.33</td>
        <td>1.83</td>
        <td>2.33</td>
    </tr>
    <tr scope="row">
        <td>D</td>
        <td>1.00</td>
        <td>1.50</td>
        <td>2.00</td>
    </tr>
    <tr scope="row">
        <td>D-</td>
        <td>0.67</td>
        <td>1.17</td>
        <td>1.67</td>
    </tr>
    <tr scope="row">
        <td>F</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
</table>
{% endblock %}